* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 800px;
    margin: 20px auto;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table tr {
    height: 60px;
}

button {
    padding:10px 20px;
    background: tomato;
    color:#fff;
    border: 0;
    outline: none;
}
